[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "abc"]
	path = abc
	url = https://github.com/berkeley-abc/abc.git
[submodule "yosys"]
	path = yosys
	url = https://github.com/YosysHQ/yosys.git
